.product {
  display: flex;
}
.product h3 {
  padding: 0.5rem;
  color: #111827;
}

.listbox {
  top: 3rem;
}

.listbox_button {
  position: static;
  background-color: #dbeafe;
  color: #111827;
  padding: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.listbox_options {
  position: static;
  background-color: #fdba74;
  color: #111827;
  padding: 0.5rem;
  text-align: left;
  list-style-type: none;
  list-style-position: outside;
  overflow: auto;
}
.listbox_option {
  position: static;
  background-color: #fdba74;
  color: #111827;
  padding: 0.5rem;
  text-align: left;
  cursor: default;
}
